@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background:#f3f3f3;
}

img {
  width: 100%;
  height: 220px;
}


.message{
  margin: 5em 1em;
  font-size: 20pt;
  font-style: italic;
}

a {
  color: #e74c3c;
  font-weight: 700;
}
a:hover{
  color: #e74c3c;
  text-decoration: none;
}
button:focus {
  outline: none;
}

form{
  margin-bottom: 2rem;
}

.App {
  text-align: center;
}

.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,7,128,1) 38%, rgba(116,22,22,1) 100%);
  height: 130px;
  margin-bottom: 3rem;
  padding: 30px
}

#App-title {
  font-size: 20pt;
  font-style: italic;
  font-size: 1.5em;
}

#App-title a{
  color: #DBF1FF;
}
.recipe_button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
   /* letter-spacing: 2px; */
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-radius: 5px;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  font-style: italic;
  width: 200px;
  padding: 0.4rem;
}

.form__button {
  border: solid 2px #e74c3c;
  perspective: 1px;
  background: transparent;
  padding: 0.2rem 0.9rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.9rem;
  border-radius: 5px;
}

.form__button:hover{
  border-radius: 5px;
  background-color: #e74c3c;
  color: #DBF1FF;
  cursor: pointer;
}


input[type="text"] { 
  outline: none;
}


/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  margin-bottom: 4em;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .active-recipe {
    margin: 0 0 1em 0;
    /* max-width: 300px; */
    width: 100%;
    height: 100%;
  }

}


.active-recipe__ingredients{
  font-weight: bold;
  font-size: 16pt;
}

.active-recipe__ingredients p{
  font-weight: 400;
  font-size: 12pt;
}

.active-recipe__img {
  height: 500px !important;
  border-radius: 5px;
  box-shadow: 7px 10px 5px -2px rgba(0,0,0,0.75);

}

.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
}


.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-top: 2em;

}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  color: #e74c3c;
  font-style: italic;
  margin-left: 5px;
}

.active-recipe__website p {
  text-transform: lowercase;
  font-weight: 300;
  overflow: hidden;
  color: #e74c3c;
  font-size: 8pt;
}

.active-recipe__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}